    {% for issue in issues %}
        <div>
            <a href="{% url 'webapp:issue_detail_view' issue.pk %}">
                {{ issue.summary }}: {{ issue.description }}
            </a>
            {% if perms.webapp.change_issue %}
            ***
            <a href="{% url 'webapp:issue_update_view' issue.project.pk issue.pk %}">Изменить</a> |
            {% endif %}
            {% if perms.webapp.delete_issue %}
                <a href="{% url 'webapp:issue_delete_view' issue.project.pk issue.pk %}">Удалить</a></p>
            {% endif %}
        </div>
    {% endfor %}