    {% for project in projects %}
        <div>
            <a href="{% url 'webapp:project_detail_view' project.pk %}">
                {{ project.name }}{{ project.description }}</a>
            {% if perms.webapp.change_project %}
            *** <a href="{% url 'webapp:project_update_view' project.pk %}">Изменить</a>
            {% endif %}
            {% if perms.webapp.delete_project %}
             | <a href="{% url 'webapp:project_delete_view' project.pk %}">Удалить</a>
            {% endif %}
            {% if perms.webapp.can_manage_users %}
             | <a href="{% url 'webapp:project_user_list_view' project.pk %}">Пользователи</a>
            {% endif %}
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}