{% extends 'base.html' %}
{% block nav %}
    {% if user_object == user %}
<li class="nav-item">
<a class="nav-link" href="{% url "accounts:profile" request.user.pk %}">Назад</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'accounts:user_password_change_view' request.user.pk %}">Изменить пароль</a>
</li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Поменять личные данные</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/issue_form.html' with form=form fields_only=True %}
        {% include 'partial/issue_form.html' with form=profile_form fields_only=True %}
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}