{% extends 'base.html' %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'add_issue_view' %}">Добавить задание</a>
</li>
{% endblock %}

{% block search %}
      <form class="d-flex" method="get" action="{% url 'index_view' project_pk %}">
      {% include 'partial/search_form.html' %}
{#        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">#}
{#        <button class="btn btn-outline-success" type="submit">Search</button>#}
      </form>
{% endblock %}

{% block content %}
    <h2>Main page</h2>
    {% for i in issues %}
        <p><a href="{% url 'issue_view' project_pk i.pk %}">{{ i.summary }} ({{ i.status }})</a>
         *** <a href="{% url 'update_issue_view' i.pk %}">Изменить</a> |
        <a href="{% url 'issue_delete_view' project_pk i.pk %}">Удалить</a></p>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}