{% extends 'base.html' %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'issue_list_view' %}">Все задачи</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'project_create_view' %}">Добавить проект</a>
</li>
{% endblock %}


{% block content %}
    {% for project in projects %}
        <div>
            <a href="{% url 'project_detail_view' project.pk %}">{{ project.name }}{{ project.description }}</a>
            *** <a href="{% url 'project_update_view' project.pk %}">Изменить</a> |
            <a href="{% url 'project_delete_view' project.pk %}">Удалить</a>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}