{% extends 'base.html' %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'webapp:issue_list_view'%}">Все задачи проектов</a>
</li>
{% if perms.webapp.create_issue %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'webapp:create_issue_view' project.pk %}">Добавить задание</a>
</li>
{% endif %}
{% endblock nav %}

{% block content %}
<h2>Проект: {{ project.name }}</h2>
   <p>Описание: {{ project.description }}</p>
    <p>Время выполнения:
        * {{ project.start_date|date:"D d M Y" }} --- {{ project.finish_date|date:"D d M Y" }} *</p>
    {% include 'partial/issue_list.html' %}
{% endblock content %}