{% extends 'base.html' %}

{% block search %}
      <form class="d-flex" method="get" action="{% url 'search_view' %}">
      {% include 'partial/search_form.html' %}
{#        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">#}
{#        <button class="btn btn-outline-success" type="submit">Search</button>#}
      </form>
{% endblock %}

{% block content %}
    <h2>Main page</h2>
    {% for i in issues %}
        <p><a href="{% url 'issue_view' i.pk %}">{{ i.summary }} | {{ i.type }} | {{ i.status }}</a>
         *** <a href="{% url 'update_issue_view' i.pk %}">Изменить</a> |
        <a href="{% url 'issue_delete_view' i.pk %}">Удалить</a></p>
    {% endfor %}
{% endblock %}